<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SR_SimpleProductLink::main"
             parent="SR_Base::srbase"
             module="SR_SimpleProductLink"
             title="Simple Product Link"
             sortOrder="60"
             resource="SR_SimpleProductLink::main"/>
        <add id="SR_SimpleProductLink::linkrule"
             parent="SR_SimpleProductLink::main"
             module="SR_SimpleProductLink"
             title="Link Rules"
             sortOrder="10"
             action="sr_simpleproductlink/linkrule"
             resource="SR_SimpleProductLink::linkrule"/>
    </menu>
</config>
